<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChecksumFiles.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<connectionStrings>
	</connectionStrings>
	
	
    <applicationSettings>
        <ChecksumFiles.Settings>
            <setting name="DirectoryPath" serializeAs="String">
                <value>\\server1\archiv\Studio\_Duo\Songvorschläge\2013</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.strato.de</value>
            </setting>
            <setting name="NotificationFrom" serializeAs="String">
                <value>mail@oliver-abraham.de</value>
            </setting>
            <setting name="NotificationTo" serializeAs="String">
                <value>mail@oliver-abraham.de</value>
            </setting>
            <setting name="NotificationTitle" serializeAs="String">
                <value>Wöchentlicher Archivreport - </value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>mail@oliver-abraham.de</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>marion208~</value>
            </setting>
            <setting name="SmtpEnableSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeFileListsInEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateFileLists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>server=server1;User Id=root;password=marion207~;Persist Security Info=True;database=DRMC</value>
            </setting>
        </ChecksumFiles.Settings>
    </applicationSettings>
	
</configuration>